<div class="navbar">
    <div class="navbar-left">
        <%- include('messages') %>
    </div>
    <div class="navbar-right">
        <a href="/skills/electronics">electronics (68)</a>
        <a href="/skills/llm101">llm101 (23)</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/about">About</a>
        <a href="/users/logout">Logout</a>
        <% if (isAdmin) { %>
            <a href="/admin">Admin Dashboard</a>
        <% } %>
    </div>
</div>
