<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<div class="about-container">
    <p>Práctica de <strong>Skills Project</strong> realizada por Aingeru García y Joseba Gómez.</p>
    <a href="http://localhost:3001/">Ir a Home</a>
</div>
</body>
</html>
