<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skills List</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="module" src="/js/main.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script>
    window.isAdmin = <%= JSON.stringify(isAdmin) %>;
  </script>


</head>
<body>
<%- include('partials/navbar', { totalSkills, userScore }) %>
<h1>Árbol de Habilidades: <%= skillTreeName %></h1>


<% if (isAdmin) { %>
  <%- include('partials/add-skill-button') %>
<% } %>


<div class="svg-container">

</div>

<div id="descriptionBox" class="description">Hover any skill to see its description</div>


</body>
</html>
